.portfolio{
    background-color: #E7E7E6;
}

.portfolio h2{
    font-size: 35px; 
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 40px;
    margin: 0 0 40px 0;
    text-align: center;
    color: #393939;
}

